## Epic 1: The 5 steps of Data Analysis

1.Ask the qight Questions

2.Data Wrangling

3.Exploratory Data Analysis (EDA)

4.Conclusion

5.Communication Resuts

## Data Wrangling

## Link:https://www.data-science-architect.de/selektieren-von-daten-in-dataframes/

In [146]:
import pandas as pd
import numpy as np

movies_df = pd.read_csv("movies_2.csv" ) # Gathering data
movies_df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

### Shape
a)the number of rows and columns present in the data set (i.e. the shape of the dataframe)

In [147]:
movies_df.shape
print("Die Tabelle hat", movies_df.shape[0],"Zeilen und ", movies_df.shape[1], "Spalten")
print(f"{"Die Tabelle hat"} {movies_df.shape[0]} {"Zeilen(rows) und "}{movies_df.shape[1]} {"Spalten(colums) "}")

Die Tabelle hat 616 Zeilen und  11 Spalten
Die Tabelle hat 616 Zeilen(rows) und 11 Spalten(colums)

### Info auslesen

In [148]:
movies_df.info

<bound method DataFrame.info of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

### Datentypen ermitteln mit dtype

In [149]:
movies_df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [150]:
movies_df.isna()
print(movies_df.isna())
#  Alle Spalten mit fehlenden Daten finden
#https://www.python4data.science/de/latest/clean-prep/nulls.html

incomplete_columns = list(movies_df.columns[movies_df.isnull().any()])
print(incomplete_columns)

for col in incomplete_columns:
    num_missing = movies_df[movies_df[col].isnull() == True].shape[0]
    print("number missing for column {}: {}".format(col, num_missing))

print(incomplete_columns)

     MovieID  Title  MPAA Rating  Budget  Gross  Release Date  Genre  Runtime  \
0      False  False        False   False  False         False  False    False
1      False  False        False   False  False         False  False    False
2      False  False        False   False  False         False  False    False
3      False  False        False   False  False         False  False    False
4      False  False        False   False  False         False  False    False
..       ...    ...          ...     ...    ...           ...    ...      ...
611    False  False        False   False  False         False  False    False
612    False  False        False   False  False         False  False    False
613    False  False        False   False  False         False  False    False
614    False  False        False   False  False         False  False    False
615    False   True         True    True   True          True   True     True

     Rating  Rating Count  Summary
0     False         False    False
1     False         False    False
2     False         False    False
3     False         False    False
4     False         False    False
..      ...           ...      ...
611    True          True     True
612    True          True     True
613    True          True     True
614    True          True     True
615    True          True     True

[616 rows x 11 columns]
['Title', 'MPAA Rating', 'Budget', 'Gross', 'Release Date', 'Genre', 'Runtime', 'Rating', 'Rating Count', 'Summary']
number missing for column Title: 1
number missing for column MPAA Rating: 1
number missing for column Budget: 1
number missing for column Gross: 1
number missing for column Release Date: 1
number missing for column Genre: 1
number missing for column Runtime: 1
number missing for column Rating: 108
number missing for column Rating Count: 108
number missing for column Summary: 120
['Title', 'MPAA Rating', 'Budget', 'Gross', 'Release Date', 'Genre', 'Runtime', 'Rating', 'Rating Count', 'Summary']

In [151]:
#movies_df[:5] #zeigt die ersten 5 Zeilen an
#movies_df.iloc[[1,2,3],[0,3]]
movies_df.loc[0:6]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
5,6,Uncle Buck,PG,15000000.0,79258538.0,1989-08-16,Family,100.0,7.0,77659.0,Bachelor and all-round slob Buck babysits his ...
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...

In [152]:


movies_df = pd.read_csv("movies_2.csv",nrows=0, header=0 ) # Gathering data erste Zeile


movies_df = pd.read_csv("movies_2.csv" )
# print(movies_df.head(5)) #auch die ersten 5 Zeilen
# movies_df.head()#auch die ersten 5 Zeilen
movies_df.tail()
movies_df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

## NAN Werte ermitteln (schlechte Variante)

In [153]:
#movies_dfnew = movies_df.drop("Summary", axis=1)

# beispiel für löschen ohne neue Variable:movies_df.drop("Summary", axis=1, inplace=True)
##print(movies_dfnew)
#movies_dfnew.head()

## Wann sollte man ein neues Dataframe erstellen?

Wenn du den originalen DataFrame ändern möchtest, ohne eine neue Variable zu erstellen, verwende > inplace=True.
Wenn du den originalen DataFrame beibehalten möchtest, 
aber die gelöschte Spalte in einem neuen DataFrame haben willst, 
kannst du einfach die drop()-Methode ohne inplace=True verwenden und das Ergebnis 
in einer neuen Variable speichern.

## The ooriginal Dataframe without the Summary

In [154]:
movies_df.drop("Summary", axis=1, inplace=True)
movies_df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

## Standardize

Our duty is not only to recognize the typos, but to also standardize the formatting of the values. For strings, make sure all values are either in lower or upper case. For numerical values, make sure all values have a certain measurement unit. Height, for example, can be in meters and centimeters, or feet and inches.

Task: use the rename method to change all column names to lowercase, and replace spaces with underscores if the name is made up of more than one word.

In [ ]:
#movies_df.str.lower()
movies_df.head()
print(movies_df.columns)
#movies_df.iloc[0] #

AttributeError: 'DataFrame' object has no attribute 'str'

movies_df["MovieID"]

## Kleiner machen und umbennenen - rename

In [ ]:
##print(movies_df.columns)  
#movies_df.dtypes

# if movies_df.columns  == movies_df.dtypes.object:
   #  movies_df.str.lower(movies_df)
# else:
    # pass

# movies_df["Title"] = movies_df["Title"].str.lower() # hat den inhalt in der Spalte kleine rgemacht
#movies_df.head()
movies_df.columns = movies_df.columns.str.lower()
movies_df.head()

#index für bestimmte Kategorie
#for index, row in movies_df.iterrows():
    #print(index,row["title"])

#for index, row in movies_df.iterrows():
    #print(index,row["rating"])

movies_df.rename(columns={'mpaa rating':'mpaa_rating'})
movies_df.rename(columns={'release date':'release_date'})

movies_df.head()

,movieid,title,mpaa rating,budget,gross,release date,genre,runtime,rating,rating count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

## Drop

If the missing values in a column rarely happen and occur at random, then the easiest and most forward solution is to drop observations (rows) that have missing values. If most of the column's values are missing, and occur at random, then a typical decision is to drop the whole column. This is particularly useful when doing statistical analysis, since filling in the missing values may yield unexpected or biased results.

Task: Get rid of the last row, the one containing NaN for each column (use drop() method and row index)

LINK: https://www.geeksforgeeks.org/how-to-drop-rows-in-pandas-dataframe-by-index-labels/


#movies_df.drop(movies_df.columns[-1], axis=1, inplace=True) #flasch löscht eine komplette Spalte von hinten

In [ ]:
# letzte Zeile anzeigen


#movies_df.iloc[-1:] #zeigt letzte Zeile an

#movies_df.drop(movies_df.tail(n).index,inplace=True) # drop last n rows  was ist n??? Funktioneirt nicht

#movies_df.drop(movies_df.columns[-1], axis=1, inplace=True) #flasch löscht eine komplette Spalte von hinten

# Löschen der letzten Zeile
#movies_df.drop(movies_df.index[-1], axis=0, inplace=True)


movies_df.iloc[-1:] #zeigt letzte Zeile an

,movieid,title,mpaa rating,budget,gross,release date,genre,runtime,rating,rating count
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Fehlende Werte

movies_df [ "Bewertung" ] . isna ( ) . value_counts ( )
### Frage

### movies_df["rating"].value_counts() # das geht nicht aber warum??? War so in emelys script

In [ ]:
#fehlerspalte = movies_df["Bewertung"].isna().svalue_counts()
#print("Anzahl der Nanwerte in der Kategorie Rating ist: ",fehlerspalte)

## nach diesem Code (unten) verschwindet der DataFrame - Frage warum

In [ ]:
#movies_df = movies_df[movies_df["rating"].isna()] # dieser code löscht alles
##print(movies_df)
##movies_df = movies_df[movies_df["rating"].value_counts()]
##print(movies_df)
## movies_df["rating"].value_counts() # das geht nicht aber warum???
movies_df.head()

,movieid,title,mpaa rating,budget,gross,release date,genre,runtime,rating,rating count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

# Calculate the median of Col1, Col2, Col3
df['Median'] = df[['Col1', 'Col2', 'Col3']].median(axis=1)

In [ ]:
#movies_df["Median"] = movies_df["rating"].median(axis = 1)
#movies_df["Median"] = movies_df["rating"].median()
#median_rating = movies_df["rating"].median()
movies_df.head()
# median_rating = movies_df.fillna('rating',movies_df['rating'].median(), inplace=True)
#print(median_rating)

median_rating = movies_df['rating'].median()
movies_df['rating'].fillna(median_rating, inplace=True)

#movies_df.fillna({"rating":movies_df["rating"].median()},inplace=True)#Marcs Lösung
movies_df.tail()

# Löschen der letzten Zeile
#movies_df.drop(movies_df.index[-1], axis=0, inplace=True)
movies_df.tail()

C:\Users\cumdi\AppData\Local\Temp\ipykernel_5336\893878979.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies_df['rating'].fillna(median_rating, inplace=True)

,movieid,title,mpaa rating,budget,gross,release date,genre,runtime,rating,rating count
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,NaN

In [ ]:
movies_df['budget'] = movies_df['budget'].fillna(0).astype(int)
movies_df['gross'] = movies_df['gross'].fillna(0).astype(int)

#movies_df['budget'] = movies_df['budget'].astype(int)
movies_df.tail()
movies_df.dtypes

movieid           int64
title            object
mpaa rating      object
budget            int32
gross             int32
release date     object
genre            object
runtime         float64
rating          float64
rating count    float64
dtype: object

## Date to daytime

## Vergleiche und Filter

In [ ]:
#movies_df[((movies_df["genre"] == "Action") &  (movies_df["rating"] > 6)]
          
movies_df[(movies_df["runtime"] > 100) & (movies_df["gross"] >296000000)]
movies_df

,movieid,title,mpaa rating,budget,gross,release date,genre,runtime,rating,rating count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,6.9,NaN
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,6.9,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,6.9,NaN
613,614,The Lion King,PG,250000000,1632000000,2019-07-09,Drama,118.0,6.9,NaN
614,615,Avengers: Endgame,PG-13,356000000,-2147483648,2019-04-22,Action,181.0,6.9,NaN

Diskussion letzte Aufgabe: wenn mehr Leute den Film bewertet haben ist der Film auch besser = Wahrscheinlich