## ***Summary of Sprint 4***

In [82]:
import pandas as pd
import numpy as np

movies_df = pd.read_csv("movies_2.csv" ) # Gathering data
movies_df.head(10)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
5,6,Uncle Buck,PG,15000000.0,79258538.0,1989-08-16,Family,100.0,7.0,77659.0,Bachelor and all-round slob Buck babysits his ...
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
8,9,Parenthood,PG-13,20000000.0,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0,The Buckmans are a midwestern family all deali...
9,10,Lethal Weapon 2,R,25000000.0,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0,Riggs and Murtaugh are on the trail of South A...

In [83]:
movies_df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
#movies_df.drop("Summary", axis=1, inplace=True) #löschen der Spalte Summary #axis 1 ist column und axis 0 ist row?
# 
movies_df.tail()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:

movies_df.columns = movies_df.columns.str.lower()
movies_df.head()
movies_df.rename(columns={'mpaa rating':'mpaa_rating'})
movies_df.rename(columns={'release date':'release_date'})

movies_df.head()

movies_df.fillna({"rating":movies_df["rating"].median()},inplace=True) # Marcs Lösung
movies_df.head()

,movieid,title,mpaa rating,budget,gross,release date,genre,runtime,rating,rating count,summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

## Duplikate finden

In [86]:
#movies_df[movies_df["title"].duplicate(keep = False)] #Marcs Code

## String to Integer

In [87]:
movies_df["budget"]
#movies_df.drop(movies_df.index[-1], axis=0, inplace=True)
#movies_df.iloc[-1:] #zeigt letzte Zeile an

0        7500000.0
1        7500000.0
2       13000000.0
3       14000000.0
4       15000000.0
          ...
611    200000000.0
612    200000000.0
613    250000000.0
614    356000000.0
615            NaN
Name: budget, Length: 616, dtype: float64

Date

In [88]:
movies_df.rename(columns={'release date':'release_date'})

,movieid,title,mpaa rating,budget,gross,release_date,genre,runtime,rating,rating count,summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,NaN,NaN

In [89]:
#movies_df["release_date"] = pd.to_datetime(movies_df["release_date"]) #funktioniert nicht
#movies_df

In [90]:
movies_df.rename(columns={'mpaa rating':'mpaa_rating'},inplace=True) #inplace true is important!!!
movies_df.rename(columns={'release date':'release_date'},inplace=True)
movies_df

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating count,summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,NaN,NaN

Rating count umbenennen und die leeren Stellen mit dem MEAN auffüllen

In [91]:
movies_df.rename(columns={'rating count':'rating_count'},inplace=True)
movies_df.fillna({"rating_count":movies_df["rating_count"].median()},inplace=True) # Marcs Lösung

movies_df.tail()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,summary
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,240347.5,NaN

### Budget und Gross  in integer umwandeln

In [92]:
movies_df.drop(movies_df.index[-1], axis=0, inplace=True)

In [93]:
movies_df.dtypes

movieid           int64
title            object
mpaa_rating      object
budget          float64
gross           float64
release_date     object
genre            object
runtime         float64
rating          float64
rating_count    float64
summary          object
dtype: object

Datum umwandeln

pandas.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=False, format=None, exact=<no_default>, unit=None, infer_datetime_format=<no_default>, origin='unix', cache=True)

In [94]:
movies_df["release_date"] = pd.to_datetime(movies_df["release_date"]) # wichtig ist das pd!!!! pd.to_datetime!!
movies_df.dtypes

movieid                  int64
title                   object
mpaa_rating             object
budget                 float64
gross                  float64
release_date    datetime64[ns]
genre                   object
runtime                float64
rating                 float64
rating_count           float64
summary                 object
dtype: object

In [95]:
movies_df.tail()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,summary
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN

Aufgabe 3

show the count of Animation movies with more than 7 in Rating (use the shape() method)

In [96]:
movies_df["genre"].value_counts()
#movies_df["runtime"].value_counts()

genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

Exercise: show the top 5 movies based on Budget

In [97]:
#Filme die mehr als 180 Minuten Spielzeit haben
movies_df[movies_df["runtime"] > 180]

# Beispiel: pandas intro Emily:
# connect two conditions with |
# pets[(() & ()) | ()]
# pets[(pets["desexed"] == True) | (pets["animal"] == "cat")]
# pets[((pets["desexed"] == False) & (pets["babies"] == 0)) | (pets["animal"] == "cat")]

movies_df[(movies_df["rating"] < 8 ) & (movies_df["genre"] == "History")]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,summary
180,181,Shakespeare in Love,R,25000000.0,289317794.0,1998-12-11,History,122.0,7.1,203939.0,"A young Shakespeare, out of ideas and short of..."
232,233,The Patriot,R,110000000.0,215294342.0,2000-06-28,History,165.0,7.2,241120.0,Peaceful farmer Benjamin Martin is driven to l...
458,459,Lincoln,PG-13,65000000.0,275293450.0,2012-11-09,History,149.0,7.3,232227.0,"As the American Civil War continues to rage, A..."

pandas.DataFrame.nlargest
DataFrame.nlargest(n, columns, keep='first')

In [98]:
#Ich ändere nun etwas 
movies_df[(movies_df["rating"] < 6 ) & (movies_df["genre"] == "Action")]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,summary
33,34,Another 48 Hrs.,R,38000000.0,153518974.0,1990-06-08,Action,95.0,5.9,36103.0,Jack Cates once again enlists the aid of ex-co...
109,110,The Specialist,R,45000000.0,170362582.0,1994-10-07,Action,110.0,5.6,59371.0,A woman entices a bomb expert shes involved wi...
137,138,Batman Forever,PG-13,100000000.0,336529144.0,1995-06-16,Action,121.0,5.4,224254.0,Batman must battle former district attorney Ha...
325,326,Fantastic Four,PG-13,100000000.0,330579719.0,2005-06-29,Action,106.0,5.7,300723.0,A group of astronauts gain superpowers after a...
366,367,Fantastic 4: Rise of the Silver Surfer,PG,130000000.0,289047763.0,2007-06-13,Action,92.0,5.6,241962.0,The Fantastic Four learn that they arent the o...
412,413,G.I. Joe: The Rise of Cobra,PG-13,175000000.0,302469017.0,2009-08-04,Action,118.0,5.8,192848.0,An elite military unit comprised of special op...
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,477200000.0,2014-08-07,Action,101.0,5.8,194073.0,"When a kingpin threatens New York City, a grou..."

In [99]:
define=movies_df[(movies_df["rating"] < 6 ) & (movies_df["genre"] == "Action")]
define

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,summary
33,34,Another 48 Hrs.,R,38000000.0,153518974.0,1990-06-08,Action,95.0,5.9,36103.0,Jack Cates once again enlists the aid of ex-co...
109,110,The Specialist,R,45000000.0,170362582.0,1994-10-07,Action,110.0,5.6,59371.0,A woman entices a bomb expert shes involved wi...
137,138,Batman Forever,PG-13,100000000.0,336529144.0,1995-06-16,Action,121.0,5.4,224254.0,Batman must battle former district attorney Ha...
325,326,Fantastic Four,PG-13,100000000.0,330579719.0,2005-06-29,Action,106.0,5.7,300723.0,A group of astronauts gain superpowers after a...
366,367,Fantastic 4: Rise of the Silver Surfer,PG,130000000.0,289047763.0,2007-06-13,Action,92.0,5.6,241962.0,The Fantastic Four learn that they arent the o...
412,413,G.I. Joe: The Rise of Cobra,PG-13,175000000.0,302469017.0,2009-08-04,Action,118.0,5.8,192848.0,An elite military unit comprised of special op...
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,477200000.0,2014-08-07,Action,101.0,5.8,194073.0,"When a kingpin threatens New York City, a grou..."

## show the top 5 movies based on Budget

In [100]:
#define=movies_df[(movies_df["rating"] < 6 ) & (movies_df["genre"] == "Action")]

dataframe.nlargest(n, columns, keep)

In [101]:
#topfive= movies_df["budget"].nlargest(5,["budget"],all)
#topfive
#movies[(movies["genre"]=="Comedy")].nlargest(5,["rating"])

topfive = movies_df["budget"].nlargest(5)

topfive

topfive3 = movies_df.nlargest(5, "budget")[["title", "budget"]]
topfive3

                                           title       budget
594                       Avengers: Infinity War  400000000.0
454  Pirates of the Caribbean: On Stranger Tides  380000000.0
614                            Avengers: Endgame  356000000.0
574                     Star Wars: The Last Jedi  317000000.0
375     Pirates of the Caribbean: At World's End  300000000.0

In [102]:
topfive2 = movies_df.nlargest(5, "budget")
topfive2[["title", "budget"]]

                                           title       budget
594                       Avengers: Infinity War  400000000.0
454  Pirates of the Caribbean: On Stranger Tides  380000000.0
614                            Avengers: Endgame  356000000.0
574                     Star Wars: The Last Jedi  317000000.0
375     Pirates of the Caribbean: At World's End  300000000.0

In [107]:
#show the top 5 Comedy movies by Rating

topfive3 = movies_df.nlargest(5, "rating")[["title", "rating"]]
topfive3

                                             title  rating
393                                The Dark Knight     9.0
83                                Schindler's List     8.9
98                               Jurassic Park III     8.9
99                                    Pulp Fiction     8.9
287  The Lord of the Rings: The Return of the King     8.9

In [110]:
#bestcomedy= movies_df.nlargest[(5, "budget")[["title", "budget"]] & (movies_df["genre"] == "Comedy")]

In [114]:
bestcomedy = movies_df[movies_df["genre"] == "Comedy"].nlargest(5, "rating")[["title", "rating"]]
bestcomedy

                    title  rating
111          Forrest Gump     8.8
185       The Truman Show     8.1
80          Groundhog Day     8.0
254        Monsters, Inc.     8.0
40   Fried Green Tomatoes     7.7

In [ ]:
# Filter stezen:
# movies_df["genre"] == "Comedy": Dies filtert die Zeilen, bei denen die Spalte "genre" den Wert "Comedy" hat.